<p>
  <strong>Singer1:</strong>
  <%= @battle.singer1 %>
</p>

<p>
  <strong>Singer2:</strong>
  <%= @battle.singer2 %>
</p>

<%= link_to 'Edit', edit_battle_path(@battle) %> |
<%= link_to 'Back', battles_path %>
